---import ForgotPasswordForm from "../../components/admin/ForgotPasswordForm";
import "../../styles/admin.css";
import AlertContainer from "../../components/ui/AlertContainer";
export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
  </head>
  <body class="min-h-screen bg-slate-50">
    <main class="mx-auto flex min-h-screen max-w-7xl items-center justify-center px-4 py-8">
      <ForgotPasswordForm client:load />
      <AlertContainer client:load />
    </main>
  </body>
</html>
