---
import AdminLayout from "@/layouts/AdminLayout.astro"
import SuperAdminAuthGuard from "@/components/admin/SuperAdminAuthGuard"
import PaymentProvidersPage from "@/components/admin/payment-providers/PaymentProvidersPage"
export const prerender = false;
---

<AdminLayout title="Payment Providers">
  <SuperAdminAuthGuard client:load />
  <div class="p-6">
    <PaymentProvidersPage client:load />
  </div>
</AdminLayout>