---
export const prerender = false;

import "../../../styles/front.css";
import CustomerDashboard from "../../../components/customer/CustomerDashboard";
import CustomerSessionBootstrap from "../../../components/customer/CustomerSessionBootstrap.astro";
import { normalizeLocale } from "../../../lib/siteLocale";
import { useTranslations } from "../../../i18n";

const customerSession = Astro.locals.customerSession ?? null;
const locale = normalizeLocale(Astro.params.lang);
const t = useTranslations("common", locale);
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{t("dashboard", "Customer Dashboard")} | {t("goSeller", "GoSeller")}</title>
		<CustomerSessionBootstrap session={customerSession} />
	</head>
	<body>
		<CustomerDashboard client:only="react" customerSession={customerSession} />
	</body>
</html>