---
import "../../../../styles/front.css";
import MemberResetPasswordPage from "../../../../components/member/auth/MemberResetPasswordPage";

const locale = Astro.params.lang ?? "id";
export const prerender = false;
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Member Reset Password | GoSeller</title>
	</head>
	<body class="bg-[#f7f7f5]">
		<MemberResetPasswordPage client:only="react" locale={locale} />
	</body>
</html>