---import "../../../styles/front.css";
import MemberForgotPasswordPage from "../../../components/member/auth/MemberForgotPasswordPage";

const locale = Astro.params.lang ?? "id";
export const prerender = false;
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Member Forgot Password | GoSeller</title>
	</head>
	<body class="bg-[#f7f7f5]">
		<MemberForgotPasswordPage client:only="react" locale={locale} />
	</body>
</html>