---import "../../../styles/front.css";
import MemberLoginPage from "../../../components/member/auth/MemberLoginPage";
export const prerender = false;
---

<html lang="id">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Member Access | GoSeller</title>
	</head>
	<body>
		<MemberLoginPage client:only="react" />
	</body>
</html>