---
import "../../../styles/front.css";
import MemberVerifyEmailPage from "../../../components/member/auth/MemberVerifyEmailPage";
---

<html lang="id">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Verify Member Email | GoSeller</title>
	</head>
	<body>
		<MemberVerifyEmailPage client:only="react" />
	</body>
</html>
