---
import "../styles/front.css";
import StoreFrontHome from "../components/front/StoreFrontHome";
import CustomerSessionBootstrap from "../components/customer/CustomerSessionBootstrap.astro";

const customerSession = Astro.locals.customerSession ?? null;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Go Seller Storefront</title>
		<CustomerSessionBootstrap session={customerSession} />
	</head>
	<body class="bg-[#f7f7f5] text-slate-900 antialiased">
		<StoreFrontHome client:load customerSession={customerSession} />
	</body>
</html>
