---
export const prerender = false;

import "../../../../styles/front.css";
import ResetPasswordPage from "@/components/customer/auth/ResetPasswordPage"
import { normalizeLocale } from "@/lib/siteLocale"
import { useTranslations } from "@/i18n"

const locale = normalizeLocale(Astro.params.lang);
const t = useTranslations("auth", locale);
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{t("resetTitle", "Reset Password")} | {t("goSeller", "GoSeller")}</title>
	</head>
	<body>
		<ResetPasswordPage client:only="react" locale={locale} />
	</body>
</html>