---
import "../../../styles/front.css";
import ForgotPasswordPage from "../../../components/customer/auth/ForgotPasswordPage";
import CustomerSessionBootstrap from "../../../components/customer/CustomerSessionBootstrap.astro";

const customerSession = Astro.locals.customerSession ?? null;
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lupa Password | GoSeller</title>
    <CustomerSessionBootstrap session={customerSession} />
  </head>
  <body>
    <ForgotPasswordPage client:only="react" />
  </body>
</html>
