---
export const prerender = false;

import "../../../styles/front.css";
import LoginPage from "../../../components/customer/auth/LoginPage";
import CustomerSessionBootstrap from "../../../components/customer/CustomerSessionBootstrap.astro";

const customerSession = Astro.locals.customerSession ?? null;
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Masuk | GoSeller</title>
    <CustomerSessionBootstrap session={customerSession} />
  </head>
  <body>
    <LoginPage client:only="react" />
  </body>
</html>
