---
import "../../../styles/front.css";
import ResetPasswordPage from "../../../components/customer/auth/ResetPasswordPage";
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password | GoSeller</title>
  </head>
  <body>
    <ResetPasswordPage client:only="react" />
  </body>
</html>
