---
export const prerender = false;

import "../../../styles/front.css";
import CustomerVerifyEmailPage from "@/components/customer/auth/CustomerVerifyEmailPage"
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Verifikasi Email | GoSeller</title>
  </head>
  <body>
    <CustomerVerifyEmailPage client:only="react" />
  </body>
</html>